<div class="contain d-flex flex-column text-center justifycontent-center align-items-center">
<h1>Ingresa como parámetro en la URL cualquiera de estas
opciones</h1>
<h2>O haz clic en los botones</h2>
<span>Ejemplo: /info</span>
<div class="m-5">{{> Botones colores=colores }}</div> {{!--array a home de index --}}
<div>{{> Spinner color=color}}</div>
</div>
<style>
* {
margin: 0;
}
.contain {
background: #ece9e9;
height: 100vh;
}
</style>